{% extends "site_template.html" %}

{% block header-nav-content %}
<h4 class="muted"><img src="media/logo_small.png" /> Inside N Out Designs, LTD</h4>
{% endblock %}

{% block header-content %}
<div class="jumbotron">
    <h1><img src="media/mark_and_matt_headshots.png" alt="logo" /></h1>
    <p class="lead">Inside N Out Designs wants to help you improve your home and design your living space for comfort. Our company only works with the finest materials and latest techniques in our construction process to ensure your satisfaction and the highest quality end product. 
    </p>
    <p class="lead">Inside N Out was founded by Mark and Matt Nagal whose family has been renovating and improving homes for three generations. The company is based out of Lyndhurst Ohio and offers their services primarily in Lake, Geauga and Cuyahoga County. If you are looking to improve your home, either inside or out, please give us a call and let use our skills to bring your ideas to life.
    </p>
</div>
{% endblock %}