{% extends "site_template.html" %}

{% block header-nav-content %}
<div class="page-header">
<img src="media/logo.jpg" class="img-responsive center-block img-rounded" alt="Inside N Out Designs is a building/remodeling company that specializes in both interior and exterior home improvement projects." />
</div>
<div class="jumbotron">
<h2 class="text-center">Inside N Out Designs, LTD</h2>
</div>
{% endblock %}

{% block header-content %}
<div class="jumbotron">
    <h1>
    <img class="img-responsive center-block" src="media/mark_and_matt_headshots-med.png" alt="Mark and Matt Nagal, owners and contractors of Inside N Out Designs" />
    </h1>
    <p class="text-left">Inside N Out Designs wants to help you improve your home and design your living space for comfort. Our company only works with the finest materials and latest techniques in our construction process to ensure your satisfaction and the highest quality end product. 
    </p>
    <p class="text-left">Inside N Out was founded by Mark and Matt Nagal whose family has been renovating and improving homes for three generations. The company is based out of Lyndhurst Ohio and offers their services primarily in Lake, Geauga and Cuyahoga County. If you are looking to improve your home, either inside or out, please give us a call and let us use our skills to bring your ideas to life.
    </p>
</div>
{% endblock %}