{% extends "site_template.html" %}

{% block header-nav-content %}
<h4 class="muted"><img src="media/logo-low.png" /> Inside N Out Designs, LTD</h4>
{% endblock %}

{% block header-content %}
<div class="jumbotron">
    <h1>
        <span data-picture data-alt="Mark and Matt Nagal, owners and contractors of Inside N Out Designs">
            <span data-src="media/mark_and_matt_headshots-low.png"></span>
            <span data-src="media/mark_and_matt_headshots-low.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/mark_and_matt_headshots.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/mark_and_matt_headshots.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/mark_and_matt_headshots-low.png" alt="Mark and Matt Nagal, owners and contractors of Inside N Out Designs" />
            </noscript>
        </span>
    </h1>
    <p class="lead">Inside N Out Designs wants to help you improve your home and design your living space for comfort. Our company only works with the finest materials and latest techniques in our construction process to ensure your satisfaction and the highest quality end product. 
    </p>
    <p class="lead">Inside N Out was founded by Mark and Matt Nagal whose family has been renovating and improving homes for three generations. The company is based out of Lyndhurst Ohio and offers their services primarily in Lake, Geauga and Cuyahoga County. If you are looking to improve your home, either inside or out, please give us a call and let use our skills to bring your ideas to life.
    </p>
</div>
{% endblock %}