{% extends "about_template.html" %}

{% block header-content %}
<div class="jumbotron">

<h2 class="text-left">How to reach us</h2>
<p class="text-left">Matt Nagal / Owner / 440-465-0785</p>
<p class="text-left">Mark Nagal / Owner / 440-668-9147</p>
<p class="text-left">Email / <a href="mailto:insidenoutdesignsltd@gmail.com">insidenoutdesignsltd@gmail.com</a></p>

<!--
<p class="lead">
	<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Cleveland,+Ohio&amp;aq=&amp;sll=40.417287,-82.907123&amp;sspn=4.784301,7.987061&amp;ie=UTF8&amp;hq=&amp;hnear=Cleveland,+Cuyahoga,+Ohio&amp;t=m&amp;ll=41.50035,-81.694336&amp;spn=0.987385,1.757813&amp;z=9&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Cleveland,+Ohio&amp;aq=&amp;sll=40.417287,-82.907123&amp;sspn=4.784301,7.987061&amp;ie=UTF8&amp;hq=&amp;hnear=Cleveland,+Cuyahoga,+Ohio&amp;t=m&amp;ll=41.50035,-81.694336&amp;spn=0.987385,1.757813&amp;z=9&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
-->

</div>
{% endblock %}

{% block body %}
{% endblock %}