<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inside N Out Designs, LTD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Inside N Out Designs LTD based out of Lyndhurst Ohio and offers their services primarily in Lake, Geauga and Cuyahoga County offering interior and exterior construction on kitchens, decks, landscaping, bathrooms, remodeling, flooring.">
    <meta name="author" content="terrence pietrondi">
    <meta name="google-site-verification" content="rDRKgEOcwoSUYX7RPyOUSA4MN2KAPkd-3UkOEVafvIw" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/site.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="media/favicon.png">
  </head>
  <body>
    <div class="container-narrow">
    
    
    {% block header-nav %}
    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="work.html">Our work</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        {% block header-nav-content %}
        {% endblock %}
    </div>
    {% endblock %}
    
    
    {% block header-content %}
    {% endblock %}
    <hr>
    
    {% block body %}  
    {% endblock %}
    <hr>
    
    {% block footer %}
    <div class="footer">
    <p>&copy; Inside N Out Designs, LTD 2013 / 
    <a href="mailto:insidenoutdesignsltd@gmail.com">insidenoutdesignsltd@gmail.com</a> / 
    <a href="tel:440-465-0785">440-465-0785</a></p>
    </div>
    {% endblock %}
    </div> <!-- /container -->
   
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="static/site.js"></script>
    {% block footer-script %}
    {% endblock %} 
  </body>
</html>
