{% extends "about_template.html" %}

{% block header-content %}
{% endblock %}

{% block body %}

<div class="jumbotron">

<h2>{{ work_detail_heading_title }}</h2>

{% for section in sections %}

    <div class="row">
        <div class="col-md-12"><h3>{{section.heading}}</h3></div>
    </div>

    {% if section.before and section.after and section.before|length == 1 and section.after|length == 1 %}
        
        <div class="row">
             <div class="col-md-6">
                <h3>Before</h3>
                {% for before in section.before %}
                <img class="img-responsive img-thumbnail" src="media/{{ before }}" />
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>After</h3>
                {% for after in section.after %}
                <img class="img-responsive img-thumbnail" src="media/{{after}}" />
                {% endfor %}
            </div>
        </div>

    {% else %}

        {% if section.before %}

        <div class="row">
            <div class="col-md-12"><h3>Before</h3></div>
        </div>

        <div class="row">
            
            {% for before in section.before %}
            <div class="col-md-{{section.before_cols}}">
                <img class="img-responsive img-thumbnail" src="media/{{before}}" />
            </div>
            {% endfor %}    
        </div>

        {% endif %}


        {% if section.after %}

        {% if section.before %}
        <div class="row">
            <div class="col-md-12"><h3>After</h3></div>
        </div>
        {% endif %}

        <div class="row">
            
            {% for after in section.after %}
            <div class="col-md-{{section.after_cols}}">
                <img class="img-responsive img-thumbnail" src="media/{{after}}" />
            </div>
            {% endfor %}    
        </div>

        {% endif %}

    {% endif %}
{% endfor %}

{% endblock %}