{% extends "about_template.html" %}

{% block header-content %}
{% endblock %}

{% block body %}
<div class="row-fluid marketing">
    <!--<a name="porch" /> -->
    <div class="span12"><h3>Front Porch Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/front_porch_rebuild_before_001.png" /></div>
    <div class="span6">
    <img src="media/front_porch_rebuild_after_001.png" />
    <img src="media/front_porch_rebuild_after_001-1.png" />
    </div>
</div>

<hr>

<div class="row-fluid marketing">
     <!--<a name="home" />-->
    <div class="span12"><h3>Home Repair Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/home_repair_remodel_before_001.png" /></div>
    <div class="span6"><img src="media/home_repair_remodel_after_001.png" /></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/home_repair_remodel_before_002.png" /></div>
    <div class="span6"><img src="media/home_repair_remodel_after_002.png" /></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/home_repair_remodel_before_003.png" /></div>
    <div class="span6"><img src="media/home_repair_remodel_after_003.png" /></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/home_repair_remodel_before_004.png" /></div>
    <div class="span6"><img src="media/home_repair_remodel_after_004.png" /></div>
</div>

<hr>


<div class="row-fluid marketing">
    <!--<a name="landscape" />-->
    <div class="span12"><h3>Landscape Design Repair Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/landscape_design_before_001.png" /></div>
    <div class="span6">
        <img src="media/landscape_design_after_001.png" />
        <img src="media/landscape_design_after_001-1.png" />
    </div>
</div>

<hr>

<div class="row-fluid marketing">
     <!--<a name="decks" />-->
    <div class="span12"><h3>Decks Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span4">
    <img src="media/deck_before_001.png" />
    </div>
    <div class="span4">
    <img src="media/deck_mid_001.png" />
    <img src="media/deck_mid_002.png" />
    </div>
    <div class="span4">
    <img src="media/deck_mid_003.png" />
    <img src="media/deck_after_001.png" />
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span6"><img src="media/deck_before_002.jpg" /></div>
    <div class="span6">
        <img src="media/deck_after_002-1.jpg" />
        <img src="media/deck_after_002-2.jpg" />
    </div>
</div>
{% endblock %}