{% extends "about_template.html" %}

{% block header-content %}
{% endblock %}

{% block body %}
<div class="row-fluid marketing">
    <!--<a name="porch" /> -->
    <div class="span12"><h3>Front Porch Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
    
        <span data-picture data-alt="">
            <span data-src="media/front_porch_rebuild_before_001-low.png"></span>
            <span data-src="media/front_porch_rebuild_before_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/front_porch_rebuild_before_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/front_porch_rebuild_before_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/front_porch_rebuild_before_001-med.png" />
            </noscript>
        </span>
    
    </div>
    <div class="span6">
    
        <span data-picture data-alt="">
            <span data-src="media/front_porch_rebuild_after_001-low.png"></span>
            <span data-src="media/front_porch_rebuild_after_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/front_porch_rebuild_after_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/front_porch_rebuild_after_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/front_porch_rebuild_after_001-med.png" />
            </noscript>
        </span>
        
        <span data-picture data-alt="">
            <span data-src="media/front_porch_rebuild_after_001-1-low.png"></span>
            <span data-src="media/front_porch_rebuild_after_001-1-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/front_porch_rebuild_after_001-1-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/front_porch_rebuild_after_001-1.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/front_porch_rebuild_after_001-1-med.png" />
            </noscript>
        </span>
        
    </div>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span12"><h3>Home Repair Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_before_001-low.png"></span>
            <span data-src="media/home_repair_remodel_before_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_before_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_before_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_before_001-med.png" />
            </noscript>
        </span>
    </div>
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_after_001-low.png"></span>
            <span data-src="media/home_repair_remodel_after_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_after_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_after_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_after_001-med.png" />
            </noscript>
        </span>
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        
         <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_before_002-low.png"></span>
            <span data-src="media/home_repair_remodel_before_002-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_before_002-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_before_002.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_before_002-med.png" />
            </noscript>
        </span>
        
    </div>
    <div class="span6">
        
         <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_after_002-low.png"></span>
            <span data-src="media/home_repair_remodel_after_002-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_after_002-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_after_002.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_after_002-med.png" />
            </noscript>
        </span>
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        
        <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_before_003-low.png"></span>
            <span data-src="media/home_repair_remodel_before_003-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_before_003-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_before_003.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_after_002-med.png" />
            </noscript>
        </span>
        
        <img src="media/home_repair_remodel_before_003.png" />
    </div>
    <div class="span6">
         <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_after_003-low.png"></span>
            <span data-src="media/home_repair_remodel_after_003-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_after_003-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_after_003.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_after_003-med.png" />
            </noscript>
        </span>
        
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_before_004-low.png"></span>
            <span data-src="media/home_repair_remodel_before_004-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_before_004-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_before_004.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_before_004-med.png" />
            </noscript>
        </span>
    </div>
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/home_repair_remodel_after_004-low.png"></span>
            <span data-src="media/home_repair_remodel_after_004-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/home_repair_remodel_after_004-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/home_repair_remodel_after_004.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/home_repair_remodel_after_004-med.png" />
            </noscript>
        </span>
    
    </div>
</div>

<hr>


<div class="row-fluid marketing">
    <!--<a name="landscape" />-->
    <div class="span12"><h3>Landscape Design Repair Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/landscape_design_before_001-low.png"></span>
            <span data-src="media/landscape_design_before_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/landscape_design_before_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/landscape_design_before_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/landscape_design_before_001-med.png" />
            </noscript>
        </span>
    </div>
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/landscape_design_after_001-low.png"></span>
            <span data-src="media/landscape_design_after_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/landscape_design_after_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/landscape_design_after_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/landscape_design_after_001-med.png" />
            </noscript>
        </span>
        
        <span data-picture data-alt="">
            <span data-src="media/landscape_design_after_001-1-low.png"></span>
            <span data-src="media/landscape_design_after_001-1-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/landscape_design_after_001-1-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/landscape_design_after_001-1.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/landscape_design_after_001-med.png" />
            </noscript>
        </span>

    </div>
</div>

<hr>

<div class="row-fluid marketing">
     <!--<a name="decks" />-->
    <div class="span12"><h3>Decks Before and After</h3></div>
</div>

<div class="row-fluid marketing">
    <div class="span4">
    
         <span data-picture data-alt="">
            <span data-src="media/deck_before_001-low.png"></span>
            <span data-src="media/deck_before_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_before_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_before_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_before_001-med.png" />
            </noscript>
        </span>
        
    </div>
    <div class="span4">
        <span data-picture data-alt="">
            <span data-src="media/deck_mid_001-low.png"></span>
            <span data-src="media/deck_mid_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_mid_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_mid_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_mid_001-med.png" />
            </noscript>
        </span>
    
        <span data-picture data-alt="">
            <span data-src="media/deck_mid_002-low.png"></span>
            <span data-src="media/deck_mid_002-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_mid_002-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_mid_002.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_mid_002-med.png" />
            </noscript>
        </span>
    
    </div>
    <div class="span4">
        <span data-picture data-alt="">
            <span data-src="media/deck_mid_003-low.png"></span>
            <span data-src="media/deck_mid_003-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_mid_003-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_mid_003.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_mid_003-med.png" />
            </noscript>
        </span>
        
        <span data-picture data-alt="">
            <span data-src="media/deck_after_001-low.png"></span>
            <span data-src="media/deck_after_001-med.png" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_after_001-med.png" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_after_001.png" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_mid_003-med.png" />
            </noscript>
        </span>
    
    </div>
</div>

<div class="row-fluid marketing">
    <div class="span6">
        <span data-picture data-alt="">
            <span data-src="media/deck_before_002-low.jpg"></span>
            <span data-src="media/deck_before_002-med.jpg" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_before_002-med.jpg" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_before_002.jpg" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_before_002-med.jpg" />
            </noscript>
        </span>
    </div>
    <div class="span6">
    
         <span data-picture data-alt="">
            <span data-src="media/deck_after_002-1-low.jpg"></span>
            <span data-src="media/deck_after_002-1-med.jpg" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_after_002-1-med.jpg" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_after_002-1.jpg" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_after_002-1-med.jpg" />
            </noscript>
        </span>
    
        <span data-picture data-alt="">
            <span data-src="media/deck_after_002-2-low.jpg"></span>
            <span data-src="media/deck_after_002-2-med.jpg" data-media="(min-width: 400px)"></span>
            <span data-src="media/deck_after_002-2-med.jpg" data-media="(min-width: 800px)"></span>
            <span data-src="media/deck_after_002-2.jpg" data-media="(min-width: 1000px)"></span>
            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
            <noscript>
                <img src="media/deck_after_002-2-med.jpg" />
            </noscript>
        </span>
        
    </div>
</div>
{% endblock %}