{% extends "about_template.html" %}

{% block header-content %}
{% endblock %}

{% block body %}

<div class="jumbotron">

<h2>Click Below to Learn More About Our Work</h2>

<div class="row">
     <div class="col-md-6">
        <a href="/work-ext-patios-landscaping.html">
        <h3><span class="label-work label label-default">Exterior Patios and Landscaping</span></h3>
        <img class="img-responsive img-thumbnail" src="media/exterior_stone_landscaping_IMG_0275-med.jpg" />
        </a>
     </div>
     <div class="col-md-6">
        <a href="/work-ext-deck-construction.html">
        <h3><span class="label label-default">Exterior Deck Construction</span></h3>
        <img class="img-responsive img-thumbnail" src="media/exterior_deck_ramp_IMG_0273-med.jpg" />
        </a>
     </div>       
</div>

<div class="row">
     <div class="col-md-6">
        <a href="/work-int-kitchen.html">
        <h3><span class="label label-default">Interior Kitchen Remodeling</span></h3>
        <img class="img-responsive img-thumbnail" src="media/interior_room_kitchen_remodel_IMG_0303-med.jpg" />
        </a>
     </div>
     <div class="col-md-6">
        <a href="/work-int-repair.html">
        <h3><span class="label label-default">Interior Repair</span></h3>
        <img class="img-responsive img-thumbnail" src="media/interior_room_remodel_IMG_0266-med.jpg" />
        </a>
     </div>       
</div>


{% endblock %}